.screen-container{
    width: calc(100%);
    height: 100%;
    background-color: #1A2E3A;
    border-radius: 30px;
    background-color: #1e2a3e;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at center left,
      transparent 0,
      #233656 100px
    ),
    repeating-linear-gradient(#969aa055, #1e2a3e);
    overflow: hidden;
}
.flex{
  display: flex;
}